---
import Layout from '@layouts/Layout.astro'
import { getSortedPosts } from '@utils'
import { getCollection, render } from 'astro:content'
import PostPreview from '@components/PostPreview.astro'
import Pagination from '@components/Pagination.astro'
import BlockHeader from '@components/BlockHeader.astro'
import ProfileSection from '@components/ProfileSection.astro'
import siteConfig from '../site.config'
import TagsSection from '@components/TagsSection.astro'

const home = await getCollection('home')
let HomeContent: astroHTML.JSX.Element | undefined
let homeAvatarImage: import('../types').FrontmatterImage | undefined
let homeGithubCalendar: string | undefined
if (home.length > 0) {
  const homeEntry = home.filter((entry) => entry.id === 'home')[0]
  const { Content } = await render(homeEntry)
  HomeContent = Content
  homeAvatarImage = homeEntry.data.avatarImage
  homeGithubCalendar = homeEntry.data.githubCalendar
}

const sortedPosts = await getSortedPosts()
const works = await getCollection('works')
let WorksContent: astroHTML.JSX.Element | undefined
if (works.length > 0) {
  const worksEntry = works[0]
  const { Content } = await render(worksEntry)
  WorksContent = Content
}
---

<Layout>
  {
    HomeContent && (
      <ProfileSection avatarImage={homeAvatarImage} githubCalendar={homeGithubCalendar}>
        <HomeContent />
      </ProfileSection>
    )
  }
  <BlockHeader>Works</BlockHeader>
  {WorksContent && (
    <section class="works-section">
      <WorksContent />
    </section>
  )}
  {sortedPosts.length > 0 && (
    <>
      <BlockHeader>Tags</BlockHeader>
      <TagsSection posts={sortedPosts}/>
      <BlockHeader>Latest Posts</BlockHeader>
      {sortedPosts.slice(0, siteConfig.pageSize).map((post) => <PostPreview post={post} />)}
      <Pagination nextLink="/posts" nextText="Blog" />
    </>
  )}
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
