---
import WorkPreview from './WorkPreview.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
  works: CollectionEntry<'works'>[]
  limit?: number
}

const { works, limit } = Astro.props

const sortedWorks = works.sort((a, b) => {
  // ascending order
  return a.data.date.getTime() - b.data.date.getTime()
})

const displayWorks = limit ? sortedWorks.slice(0, limit) : sortedWorks
---

<section class="works-section">
  {displayWorks.map((work) => (
    <WorkPreview work={work} />
  ))}
</section>